<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Poder Creado</title>
</head>

<body>
<div class="panel panel-info">
	<div class="panel -heading"><h3>Poder creado con éxito</h3></div>
	<table class="table table-striped">

		<thead>

			<tr>

				<th>Nombre</th>

				<th>Tipo</th>

				<th>Daño</th>


				</tr>

		</thead>

		<tbody>

				<td data-th-text="${poder.getNombre()}"></td>

				<td data-th-text="${poder.getTipoDano()}"></td>

				<td data-th-text="${poder.getDano()}"></td>
				
			</tr>

		</tbody>

	</table>

</div>

<br/>

	<a class="btn btn-info" href="/inicio">Volver</a>
</body>

</html>