<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<title>Inicio</title>
</head>

<body>
<div class="panel panel-info">
	<div class="panel-heading">
		<h3>Seleccione que quiere realizar:</h3>
	</div>
</div>
	
			<a class="btn btn-info" href="/lista?entidad=heroes">Heroes</a>

			
			<br><br><br>
			
			<a class="btn btn-info" href="/lista?entidad=poderes">Poderes</a>
			
			<br><br><br>
			
			<a class="btn btn-info" href="/lista?entidad=universos">Universos</a>
		
	
</body>

</html>