<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<title>Heroe </title>
</head>

<body>
<div class="panel panel-info">
	<div class="panel-heading"><h3>Heroe:</h3></div>
	<table class="table table-striped">

		<thead>

			<tr>

				<th>Nombre</th>

				<th>Universo</th>

				<th>Vivo</th>

				</tr>

		</thead>

		<tbody>
	
			<tr data-th-each="heroe: ${heroes}">

				<td data-th-text="${heroe.getNombre()}"></td>

				<td data-th-text="${heroe.getUniverso().getNombre()}"></td>

				<td data-th-text="${heroe.isVivo()}"></td>
				
			</tr>

		</tbody>

	</table>

</div>

<br/>

	<a class="btn btn-info" href="/inicio">Volver</a>
</body>

</html>