<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ListaHeroes</title>
</head>

<body>
<div class="panel panel-info">
	<div class="panel -heading"><h3>Lista de Heroes</h3></div>
	<table class="table table-striped">

		<thead>

			<tr>

				<th>Nombre</th>

				<th>Universo</th>

				<th>Vivo</th>

				<th>Poder</th>

				</tr>

		</thead>

		<tbody>

			<tr data-th-each="heroe: ${heroes}">

				<td data-th-text="${heroe.getNombre()}"></td>

				<td data-th-text="${heroe.getUniverso()}"></td>

				<td data-th-text="${heroe.isVivo()}"></td>
				
			</tr>

		</tbody>

	</table>

</div>

<br/>

	<a class="btn btn-info" href="/create">Nuevo</a>
</body>

</html>