<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<title>Heroe Eliminado</title>
</head>

<body>
<div class="panel panel-info">
	<div class="panel-heading"><h3>Heroe eliminado con éxito</h3></div>
	
</div>

<br/>

	<a class="btn btn-info" href="/inicio">Volver</a>
</body>

</html>